.nav{
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 16px 24px;
  border: 1px solid #ccc;
  align-items: center;
}
.nav ul{
  display:flex;
}

.nav li{
  padding:0 8px;
  text-decoration: none;
  list-style: none;
}

.content{
  margin-top: 24px;
}
